*
{
    all: unset;
}

$background: #171a1f;
$foreground: #A9B1D6;
$black: #24283B;
$gray: #565F89;
$light-gray: #565f89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

.player{
  background-color: $background;
  border: 2px solid $gray;
  border-radius: 6px;
}


.music-player{
	background-color: $background;
	padding: 10px;
	border-radius: 12px;
  border: 2px solid $background;
	margin:2px;
}


.album_art {
	background-size: cover;
	background-position: center;
	border-radius: 12px;
	margin: 2px;
	padding: 7rem;
  min-width: 1px;
  min-height: 1px;
}
.artist{
  font-family: DaddyTimeMono Nerd Font;
  font-style: italic;
  font-weight: bold;
  padding: 1px;
  margin: 2px;
  color: $blue;
  font-size: 16;
}


.song{
  font-family: DaddyTimeMono Nerd Font;
  font-style: italic;
  font-weight: bold;
  padding: 1px;
  margin: 2px;
  color: $red;
  font-size: 16;
}


.music-len{
  font-family: DaddyTimeMono Nerd Font;
  font-style: italic;
  font-weight: bold;
  padding: 1px;
  margin: 2px;
  color: $foreground;
  font-size: 16;
}

.previous-btn, .player-pp-btn, .next-btn {
	font-family: DaddyTimeMono Nerd Font;
}


.previous-btn{
  color: $gray;
	font-size : 36px;
}

.player-pp-btn{
  color: $foreground;
  font-size: 36;
  font-weight: bold;
}
.next-btn{
  color: $light-gray;
	font-size : 36px;
}
