/* Created   by https://github.com/rxyhn 
   Designed  by https://github.com/rxyhn
   Maintaned by https://github.com/rxyhn
*/

// Global
*{
  all: unset;
}

// Variable Color's
$background: #171a1f;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

// Calendar



.cal-box {
  background-color: $background;
  font-family: "DaddyTimeMono Nerd Font" ;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid $gray;
  border-radius: 6px;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 1px;
      }
  }
}

calendar:selected {
  color: $blue;
}

calendar.header {
color: $blue;
font-weight: bold;
}

calendar.button {
color: $red;
}

calendar.highlight {
color: $red;
font-weight: bold;
}

calendar:indeterminate {
color: $gray;
}









